body {
    background-image: url("background.png");
  }
  p {
    color: whitesmoke;
    font-size: 20px;
  }
  h1 {
    font-weight: bold;
    color: #fdfdfd
  }
  h5 {
    text-align: center;
    color: whitesmoke
  }
  
  .no{
    text-align: center;
    color:darkmagenta;
    font-family:monospace;
    text-shadow: 2px 2px 5px 
  }
  .hi{
    text-align: left;
    color: darkmagenta;
    border-style:groove;
    border-left-color: darkslateblue;
  
  
  }
  
  #pfp{
    width:250px;
    height:200px;
    position:absolute;
    right: 8%;
    top: 2%;
    
  }
  
  .introtogametext {
    font-size: 40px;
    text-align: center;
  }
  
  
  
  #instructions {
    text-align: center;
    color: whitesmoke;
  }
  
  .waveinstruct:hover {
    height: 230px;
  }
  
  .waveinstruct {
    border: 1px solid #192A51;
  
    background-color: #db85aa;
    border-style: dotted;
  
    color: whitesmoke;
    font-family: sans-serif;
  
    text-align: center;
  
    font-size: 0.8px;
  
    height: 50px;
  
    overflow: hidden;
  
    width: 80%;
  
    margin: 10px auto;
  
    transition: height 0.5s ease;
  }
  .instructionstitle {
    text-align: center;
  }
  #easylevel {
    text-align: center;
  }
  .waveeasy {
    border: 1px solid #192A51;
  
    background-color: #db85aa;
  
    color: whitesmoke;
  
    text-align: center;
  
    font-size: 0.9em;
  
    height: 50px;
  
    overflow: hidden;
    font-family: sans-serif;
  
    width: 80%;
  
    margin: 10px auto;
  
    transition: height 0.5s ease; 
  }
  .waveeasy:hover {
    height: 700px;
  }
  
  .easyimages {
    transition: opacity 0.5 ease;
  }
  
  
  
  
  
  
  .mediumimages {
    transition: opacity 0.5 ease;
  }
  
  
  #hardlevel {
    text-align: center;
  }
  .wavehard {
    border: 1px solid #192A51;
  
    background-color: #db85aa;
  
    color: whitesmoke;
  font-family: sans-serif;
    text-align: center;
  
    font-size: 0.9em;
  
    height: 50px;
  
    overflow: hidden;
  
    width: 80%;
  
    margin: 10px auto;
  
    transition: height 0.5s ease; 
  }
  .wavehard:hover {
    height: 700px;
  }
  .hardimages {
    transition: opacity 0.5 ease;
  }
  
  #mediumlevel {
    text-align: center;
  }
  .wavemedium{
    border: 1px solid #192A51;
  
    background-color: #db85aa;
  
    color: whitesmoke;
  font-family: sans-serif;
    text-align: center;
  
    font-size: 0.9em;
  
    height: 50px;
  
    overflow: hidden;
  
    width: 80%;
  
    margin: 10px auto;
  
    transition: height 0.5s ease; 
  }
  .wavemedium:hover {
    height: 700px;
  }
  
  
  
  